name: Release

on:
  push:
    tags:
      - "*"
  repository_dispatch:
    types: [trigger-release]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          # Checkout the specific tag when triggered by repository_dispatch
          ref: ${{ github.event_name == 'repository_dispatch' && github.event.client_payload.tag || github.ref }}

      - name: Set tag variable
        run: |
          if [ "${{ github.event_name }}" == "repository_dispatch" ]; then
            echo "TAG=${{ github.event.client_payload.tag }}" >> $GITHUB_ENV
          else
            echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
          fi
      - name: Push docker image
        run: make push -e IMG_TAG=${{ env.TAG }}
